Repository rahulkrajput/CI-CD-Pipeline-with-Azure-DevOps-Project: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/01-Provision-terraform-aks-cluster.yml, Pipelines/01-terraform-provision-aks-cluster-pipeline.yml, Pipelines/02-Deploy-Kubernetes-Deployment-On-AKS-Cluster.yml

Path conditions:
  Pipelines/01-Provision-terraform-aks-cluster.yml: any of: Pipelines/01-Provision-terraform-aks-cluster.yml, terraform-manifests
  Pipelines/01-terraform-provision-aks-cluster-pipeline.yml: any of: Pipelines/01-terraform-provision-aks-cluster-pipeline.yml, terraform-manifests
  Pipelines/02-Deploy-Kubernetes-Deployment-On-AKS-Cluster.yml: any of: Pipelines/02-Deploy-Kubernetes-Deployment-On-AKS-Cluster.yml

Update 04-Destroy-Terraform-AKS-Cluster.yml for Azure Pipelines
  Pipelines/04-Destroy-Terraform-AKS-Cluster.yml
Due: none

Update 01-Provision-terraform-aks-cluster.yml for Azure Pipelines
  Pipelines/01-Provision-terraform-aks-cluster.yml
Due: Pipelines/01-Provision-terraform-aks-cluster.yml

Update 02-variables.tf
  terraform-manifests/02-variables.tf
Due: Pipelines/01-Provision-terraform-aks-cluster.yml, Pipelines/01-terraform-provision-aks-cluster-pipeline.yml

Set up CI with Azure Pipelines
  Pipelines/01-Self-Provision-Terraform-AKS-Cluster.yml
Due: none

Update 01-Self-Provision-Terraform-AKS-Cluster.yml for Azure Pipelines
  Pipelines/01-Self-Provision-Terraform-AKS-Cluster.yml
Due: none

Set up CI with Azure Pipelines
  Pipelines/06-Destroy-Self-Provision-Terraform-AKS-Cluster.yml
Due: none

Update 06-Destroy-Self-Provision-Terraform-AKS-Cluster.yml for Azure Pipelines
  Pipelines/06-Destroy-Self-Provision-Terraform-AKS-Cluster.yml
Due: none

CI-CD-Pipeline-with-Azure-DevOps-Project
  Pipelines/01-Provision-and-Destroy-Terraform-AKS-Cluster-Pipeline.yml
  Pipelines/01-Provision-terraform-aks-cluster.yml
  Pipelines/02-Deploy-Kubernetes-Deployment-On-AKS-Cluster-Pipeline.yml
  Pipelines/03-Destroy-Terraform-AKS-Cluster.yml
  Pipelines/04-Destroy-Terraform-AKS-Cluster.yml
  Pipelines/06-Destroy-Self-Provision-Terraform-AKS-Cluster.yml
Due: Pipelines/01-Provision-terraform-aks-cluster.yml

Update 01-Provision-and-Destroy-Terraform-AKS-Cluster-Pipeline.yml
  Pipelines/01-Provision-and-Destroy-Terraform-AKS-Cluster-Pipeline.yml
Due: none

Update 02-Deploy-Kubernetes-Deployment-On-AKS-Cluster-Pipeline.yml for Azure Pipelines
  Pipelines/02-Deploy-Kubernetes-Deployment-On-AKS-Cluster-Pipeline.yml
Due: none

CI-CD-Pipeline-with-Azure-DevOps-Project
  Pipelines/01-Provision-and-Destroy-Terraform-AKS-Cluster-Pipeline.yml
Due: none
